{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{%static 'style.css'%}" />
		<title>Dedan Wamalwa Blog</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
                <div class="card">
					<h1>Dedan Wamalwa's Blog</h1>
					<h2>Hi, Welcome to my blog.</h2>
				</div>
				<div class="card">
					<h1>{{ post.title }}</h1>
					<h3>{{ post.created_At }}</h3>
                    <p >
                        {{ post.body }}
                    </p>
				</div>
			</div>
		</div>
		<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	</body>
</html>
